@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
/* global colors */
:root {
  --primaryDark300: #404249;
  --primaryDark400: #313338;
  --primaryDark500: #1E1F22;

  --red: #F23F43;
  --redLight: #fa777c;
  --green: #248046;
  --blue: #5865F2;
  --blueDark: #4654f1c8;  /*guess*/
  --linkBlue: #00A8FC;

  /*text*/
  --textDark200: #F2F3F5;
  --textDark300: #B5BAC1;
  --textDark400: #949BA4;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Helvetica-neue', sans-serif;
}