body {
  font-family: "Helvetica-neue", sans-serif;
}

.serverList {
  background-color: var(--primaryDark500);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70px;
}
.serverIcon {
  background-color: var(--primaryDark300);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
}

.chat-background {
  background-color: var(--primaryDark400);
  height: 100vh;
  width: 75vw;
}

.me-page {
  display: flex;
  flex-direction: row;
}

.avatar {
  background-color: var(--primaryDark300);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  flex-shrink: 0;
}

.message {
  background-color: var(--primaryDark400);
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.message:hover {
  background-color: #2e3035;
}
.message-headers {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}
.username {
  color: white;
}
.time {
  font-size: 10px;
  margin-left: 5px;
  color: #949aa4;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.message-text {
  color: #dbdee1;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 16px;
}
