body {
  font-family: "Helvetica-neue", sans-serif;
}

.serverList {
  background-color: var(--primaryDark500);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70px;
  align-items: center;
  border-right: 1px solid black;
}
.serverIcon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
  transition: ease-out 200ms;
  cursor: pointer;
  position: relative;
}

.serverIconDiscord {
  background-color: var(--primaryDark300);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
  transition: ease-out 200ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serverIconDiscord:hover {
  background-color: #5865f2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
  transition: ease-out 200ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 60%;
  background: white;
  height: 2px;
  border-radius: 1px;
  opacity: 0.06;
  transform: scale(0.75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.serverIconSelected {
  border-radius: 35%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.serverIcon:hover {
  border-radius: 35%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
}

.serverIconSelected {
  border-radius: 40%;
  height: 50px;
  width: 50px;
  margin: 5px;
  flex-shrink: 0;
  object-fit: cover;
  content: "fake";
  font-size: 0;
  color: transparent;
  position: relative;
}

.serverIconDiv::before {
  content: "";
  width: 100%;
  height: 50%;
  background: white;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transform: translate(-76%, -55%) scale(0);
  z-index: 1;
  transition: ease-in-out 200ms;
}

.serverIconDiv:hover::before {
  content: "";
  width: 100%;
  height: 50%;
  background: white;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transform: translate(-76%, -55%) scale(0.5);
  z-index: 1;
}

.serverIconSelectedDiv::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transform: translate(-80%, -50%) scale(0.6);
  transition: ease-in-out 150ms;
}

.servertooltip {
  position: relative;
  display: inline-block;
}

.servertooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 15px;
  left: 105%;
  z-index: 1;
}

.servertooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.servertooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-background {
  background-color: var(--primaryDark400);
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.me-page {
  display: flex;
  flex-direction: row;
}

.avatar {
  background-color: var(--primaryDark300);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
  flex-shrink: 0;
}

.message {
  background-color: var(--primaryDark400);
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.message:hover {
  background-color: #2e3035;
}
.message-headers {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}
.username {
  color: white;
}
.time {
  font-size: 10px;
  margin-left: 5px;
  color: #949aa4;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.message-text {
  color: #dbdee1;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 16px;
}

.message-box {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  position: sticky;
  margin-bottom: 20px;
  justify-content: center;
}

.message-input {
  display: flex;
  align-items: center;
  background-color: var(--primaryDark300);
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.message-box input {
  border: none;
  color: var(--textDark200);
  outline: none;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 90%;
  background-color: var(--primaryDark300);
  margin-left: 10px;
}

.box-icon-container {
  display: flex;
  align-items: center;
}
.box-icon-container:hover {
  cursor: pointer;
}

.channel-list {
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  padding-top: 20px;
}

.channel {
  display: flex;
  flex-direction: row;
  color: #949ba4;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.channel:hover {
  background-color: #36373d;
  color: rgb(234, 234, 234);
  cursor: pointer;
}

.channel-selected {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #404249;
}
.channel-selected:hover {
  cursor: pointer;
}
.channel-name {
  margin-left: 5px;
}

/* mainpage for online users, active DMs list, etc */

.side-bar {
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  padding-top: 20px;
}

.dm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.6rem;
  height: 20px;
  color: var(--textDark400);
}

.dm-list {
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  list-style: none;
}

.dm-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #949ba4;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.user-list-item {
  background-color: pink;
  color: white;
  background-color: #232428;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2px;
  font-size: 0.75rem;
}

.dm-list-item:hover {
  cursor: pointer;
  background-color: #36373d;
  color: white;
}

.user-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user-list-item-pfp-name {
  display: flex;
  gap: 5px;
}

.pfp-placeholder {
  height: 40px;
  width: 40px;
  background-color: var(--primaryDark300);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pfp-status {
  position: absolute;
  height: 12px;
  width: 12px;
  border: 2px solid var(--primaryDark500);
  border-radius: 100px;
  left: 27px;
  top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp-status-busy {
  background-color: var(--red);
  color: var(--primaryDark500);
  font-weight: bolder;
  font-size: 20px;
}
